        @font-face {
            font-family: "RWC";
            src: url("https://s3.eu-central-1.amazonaws.com/content-secutix-com/SODEXO/fonts/RWC-Bold.ttf")
                format("truetype");
            font-weight: bold;
            font-style: normal;
        }

        @font-face {
            font-family: "RWC";
            src: url("https://content.secutix.com/SODEXO/fonts/RWC-Regular.ttf")
                format("truetype");
            font-weight: normal;
            font-style: normal;
        }

#page_selection_eventDate .product_right_img {
  background-color: green;
  }

  #page_selection_eventDate .product_title_container {
    font-family: rwc;
  }

  #page_selection_eventDate #page {
    background-color: #F6F6F6;
  }
  

#page_selection_eventDate .secondary_content{
border-radius: 12px;
border:none;
overflow: hidden;
}

#page_selection_eventDate #secondary_content_cart{
Border:none;
}

#page_selection_eventDate .filters{
background-color : #ffffff;
border-bottom:none;
border-radius: 12px;
  
}

#page_selection_eventDate .main_content > .content_title > .title {
background: #f6f6f6;
border-bottom: none;
font-family: rwc;      
}



#page_selection_eventDate #secondary_content_general_info li {
Color: #ffffff;
}

#page_selection_eventDate a:link {
color : #BF0091;
}

#page_selection_eventDate .group_sub_title  {
margin:0;
padding:20px 45px 20px 45px; 
background-color: #f6f6f6;
}


#page_selection_eventDate #performance_chooser {
  border:none;
}

#page_selection_eventDate .product_right_img .title {
text-align: center;
}

#page_selection_eventDate .product_right_img .product_image_container {
Display : none;}


#page_selection_eventDate .group_sub_title.title4 {
  font-family: rwc;      
}


#page_selection_eventSeat #book {
  background: #BF0091;
}

