        @font-face {
            font-family: "RWC";
            src: url("https://s3.eu-central-1.amazonaws.com/content-secutix-com/SODEXO/fonts/RWC-Bold.ttf")
                format("truetype");
            font-weight: bold;
            font-style: normal;
        }

        @font-face {
            font-family: "RWC";
            src: url("https://content.secutix.com/SODEXO/fonts/RWC-Regular.ttf")
                format("truetype");
            font-weight: normal;
            font-style: normal;
        }

 .product_right_img {
  background-color: #f6f6f6;
  }

.product_title_container {
  font-family: rwc;
  font-weight: bold;
}

   #page {
    background-color: #F6F6F6;
  }
  

 .secondary_content{
border-radius: 12px;
border:none;
overflow: hidden;
}

 #secondary_content_cart{
Border:none;
}

 .filters{
background-color : #ffffff;
border-bottom:none;
border-radius: 12px;
  
}

.main_content > .content_title > .title {
  background: #f6f6f6;
  border-bottom: none;      
}

.main_content > .content_title h2 {
  font-family: rwc;
}


 #secondary_content_general_info li {
Color: #ffffff;
}

a:link, a:active, a:visited {
  color: #BF0091!important;
}

 .group_sub_title  {
margin:0;
padding:20px 45px 20px 45px; 
background-color: #f6f6f6;
}


 #performance_chooser {
  border:none;
}

 .product_right_img .title {
text-align: center;
}

 .product_right_img .product_image_container {
Display : none;}


 .group_sub_title.title4 {
  font-family: rwc;      
}

 #performanceSelectionInstruction {
  background-color: #f6f6f6;
}

 .performances_monthly_grouped {
border:none;
}

 #2025-09 {
border-top: 1px solid #e6e6e6;
}

 .semantic-no-styling-no-display.date {
text-align: center;
  display: block;
}

 .product_description_header {
  background-color: #F6F6F6;
}

.performances_container .group_sub_title {
    padding: 1em 45px 1em 45px;
    margin:0;
  }



/* MARGIN PAIEMENT METHOD & GENERAL INFO */

.secondary_content > .content_title > .title {
  margin: 15px 0px 0px 0px;
  border-radius: 12px 12px 0 0;
}

#close_menu_overlay + .secondary_content {
  border-top: none;
  margin-top: 0;
}

#secondary_content_countdown + .secondary_content {
border-top: none;
}

/* BOUTON */
#buy_order,
#continue_button,
#book,
#buyNow,
.performance_selector
  .time_selection
  .rs-carousel-inactive
  .sliding_item
  .button.selected
  a,
.performance_selector
  .time_selection
  .rs-carousel-runner
  .sliding_item
  .button.selected
a,
.button a {
  background-color: #BF0091!important;
  color: #ffffff!important;
  border-radius: 10px;
}



#page_selection_eventSeat #book {
  background: #BF0091;
}






/* BUTTON SUMMARY */

 body.rwd #page_checkout_orderSummary .button.pay a {
    background-color: #BF0091;
    color: #fff !important;
  }

  body.rwd #page_checkout_orderSummary .button.pay.disabled a {
background: silver!important;
  border-color: #b0b0b0!important;
  }

body.rwd #page_account_home .button a {
color: #fff!important;
background-color: #bf0091;
}




/*******************/
/** GENERAL PAGES **/
/*******************/

#page_cart_reservation #main_content_reservation,
#page_checkout_orderSummary #main_content_summary_products,
#page_cart_emptyShoppingCart #main_content_cart,
#page_account_tickets #main_content_tickets {
  border: none;
}

#page_cart_reservation #collapsiblePanel_main_content_reservation,
#page_cart_emptyShoppingCart #collapsiblePanel_main_content_cart,
#page_account_tickets #collapsiblePanel_main_content_tickets {
  border: 1px solid #e6e6e6;
}




/*******************/
/** PRODUCT PAGES **/
/*******************/
#page_selection_eventSeat .product_description_header,
#page_selection_eventDate .product_description_header {
  background-color: #F6F6F6;
  background-image: url(https://sdo-q-001.sitecorecontenthub.cloud/api/public/content/756c9689ffbd43c3bc11a2b313d077eb?v=beac538f);
  background-repeat: repeat-y;
  background-size: cover;
}

#page_selection_eventSeat .product_right_img,
#page_selection_eventDate .product_right_img {
  background-color: #F6F6F6;
  border: none;
  position: relative;
  background-image: url(https://sdo-p-001.sitecorecontenthub.cloud/api/public/content/8cf5d09c82b14ef0bedd1d5fbd2ec114?v=601fa7e4);
  background-size: cover; 
  background-repeat: round;
}

/*RESPONSIVE*/
@media screen and (max-width: 990px) {
  #page_selection_eventSeat .product_description_header,
  #page_selection_eventDate .product_description_header {
    background-image: none;
  }

  #page_selection_eventSeat .product_description_header .content_element>.content,
  #page_selection_eventDate .product_description_header .content_element>.content {
    padding: 0px !important;
  }
}

#page_selection_eventDate .performances_group_container .buttons {
  margin: 0.75em 1em 0 1em !important;
}

#page_selection_eventSeat .product_right_img.product_SPORTING_EVENT .subtitle {
  display: block;
  font-weight: bold;
  color: #262626;
  text-align: center;
  font-family: RWC;
}

#page_selection_eventSeat .product_right_img.product_SPORTING_EVENT .round_kind {
  display: block;
  text-align: center;
}

#page_selection_eventSeat .product_right_img.product_SPORTING_EVENT .round_kind::before {
  content: none;
}

#page_selection_eventSeat p.semantic-no-styling-no-display {
display: block;
  text-align: center;
}




#page_selection_eventSeat #main_content_seat_selection {
  border: none;
}

#page_selection_eventSeat #collapsiblePanel_main_content_seat_selection {
  border: 1px solid #e6e6e6;
}

#page_checkout_payment .payment_method_list.payment_method_chooser.main_content_payment {
  flex-direction:row-reverse!important;
}

#page_account_register #account_type_selection {
  display: none;
}





/** CHECKOUT PAGES **/
#page_checkout_orderSummary #main_content_summary_products .message {
  background: #f6f6f6;
}


#checkout_bar .symbol {
  background-color: #BF0091;
}


/** ACCOUNT PAGES  **/

#page_account_tickets .product_right_img {
  background-color: #F6F6F6;
  border: none;
  position: relative;
  background-image: url(https://sdo-p-001.sitecorecontenthub.cloud/api/public/content/8cf5d09c82b14ef0bedd1d5fbd2ec114?v=601fa7e4);
  background-size: cover; 
  background-repeat: round;
}

#page_account_tickets .print_options {
  display: none;
}

/* ACCOUNT MENU */

#page_account_home,#page_account_tickets,#page_account_files,#page_account_file,#page_account_editPersonalDetails, #secondary_content_navigation .content_title > .title {
background-color: #fff;
}

#page_account_home,#page_account_tickets,#page_account_files,#page_account_file,#page_account_editPersonalDetails, #secondary_content_navigation .content_title .title .main_title {
color: #000000;
font-weight: bold;
}

#page_account_home,#page_account_tickets,#page_account_files,#page_account_file,#page_account_editPersonalDetails, .openable.open {
color: black !important;
font-weight: bold;
}

#page_account_home,#page_account_tickets,#page_account_files,#page_account_file,#page_account_editPersonalDetails, #content #secondary_content_navigation .content_element .content .tickets_menu_logout .text {
color: #BF0091; 
}

#page_account_home,#page_account_tickets,#page_account_files,#page_account_file,#page_account_editPersonalDetails, #secondary_content_navigation .content_element > .content {
  background-color: #fff;
}
#page_account_home,#page_account_tickets,#page_account_files,#page_account_file,#page_account_editPersonalDetails, #content #secondary_content_navigation .content_element .content > ul > li:not(:first-child) > a {
  text-transform: none;  
}

#page_account_home,#page_account_tickets,#page_account_files,#page_account_file,#page_account_editPersonalDetails, #content #secondary_content_navigation .content_element .content ul li.selected a {
    background-color: #fff;  
}

#page_account_home,#page_account_tickets,#page_account_files,#page_account_file,#page_account_editPersonalDetails, .secondary_content > .content_title > .title {
  margin: 0px!important;
}

#page_account_home,#page_account_tickets,#page_account_files,#page_account_file,#page_account_editPersonalDetails, .menu_experience_vouchers 
{border: none!important;
}
